.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 80px;
  border-bottom: 1px solid #ffffff;
}

.chat:hover {
  background-color: lightyellow;
  cursor: grab;
  border-radius: 10% / 50%;
}
.chat_details {
  flex: 1 1 100px;
  padding: 5px;
}

.chat_details > p {
  color: gray;
}

.timestamp {
  color: lightgray;
}

.chat_image {
  max-width: 100%;
  height: auto;
}

.trade_Preview {
  position: fixed;
}
